apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-key-secret
  namespace: cert-manager  # You can change this to the namespace where Cert-Manager is deployed
type: Opaque
stringData:
  api-key: {{ CF_TOKEN }}